-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
crispy-bootstrap5==2024.2; python_version >= '3.8'
django==4.2.16; python_version >= '3.8'
django-bootstrap-v5==1.0.11; python_version >= '3.6' and python_version < '4.0'
django-crispy-forms==2.3; python_version >= '3.8'
psycopg2-binary==2.9.9; python_version >= '3.7'
soupsieve==2.6; python_version >= '3.8'
sqlparse==0.5.1; python_version >= '3.8'
typing-extensions==4.12.2; python_version < '3.11'
tzdata==2024.2; sys_platform == 'win32'
whitenoise==6.7.0; python_version >= '3.8'
