{% load static bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Horten spillkveld :)</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link href="{% static 'css/simple.css' %}" rel="stylesheet">
	</head>

	<body>
	<div style="display: flex; justify-content: center; align-items: center; height: 200px;">
		<a href="https://www.facebook.com/groups/175323049161024" style="text-decoration: none;"><h1>Horten spillkveld :)</h1></a>
	</div>
	<div style="text-align: center">
	<p>Vi møtes 17:00 hver mandag</p>
		<p><strong>Brettspill</strong> og <strong>Rollespill</strong> på <a href="https://hortenbibliotek.no/">Horten bibliotek</a></p>
		<p>Bli med på <a href="https://discord.gg/NXGeJwmy2f">Discord</a> og <a href="https://www.facebook.com/groups/175323049161024">Facebook</a></p>
		<p>:)</p>
	</div>
	</body>
</html>
