{% load static bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MidgardCon 2021 - Program</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	<link href="{% static 'css/simple.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>
<body>
<a href="/midgardcon/"><img src="{% static 'img/logo.png' %}" style="max-width: 80%;" class="mx-auto d-block mb-5"></a>

<h1>Program</h1>
<h2>Fredag, 10. september</h2>
<ul>
  <li>Rollespill</li>
  <ul>
    <li>Drop inn Dungeons & Dragons, 18:00 - 22:00</li>
    <li>Dungeons & Dragons, 18:00 - 22:00, <a href="https://forms.gle/aZNk6cjnorXTv8vt7">påmelding</a></li>
    <li>Kvad, 18:00 - 22:00, <a href="https://forms.gle/8CHGZe3pkkXVQZqYA">påmelding</a></li>
    <li>Frirollespilling, 18:00 - 22:00</li>
  </ul>
  <li>Brettspill</li>
  <ul>
    <li>Bloodrage, 18:00 - 22:00, <a href="https://forms.gle/1jntY8pXgRUfMQXH8">påmelding</a></li>
    <li>Villagers, 18:00 - 22:00, <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6CRKN5WC_dfr8BqnaPKeJXaw9qrYoY7QLAUZDz8n5uuW_Xg/viewform?usp=sf_link">påmelding</a></li>
    <li>Familiespill, 18:00 - 23:00</li>
    <li>Sosiale spill, 18:00 - 23:00</li>
    <li>Frispilling, 18:00 - 23:00</li>
  </ul>
  <li>Annet</li>
  <ul>
    <li>Butikk, 18:00 - 23:00</li>
    <li>Stands, 18:00 - 23:00</li>
    <li>Historisk foredrag, 17:00 - 18:00</li>
  </ul>
</ul>
<h2>Lørdag, 11. september</h2>
<ul>
  <li>Rollespill</li>
  <ul>
    <li>Drop inn Dungeons & Dragons, 12:00 - 16:00, 18:00 - 22:00</li>
    <li>Dungeons & Dragons, 12:00 - 16:00, <a href="https://forms.gle/geMv6g9N7Lcz6v6D8">påmelding</a></li>
    <li>Dungeons & Dragons, 18:00 - 22:00, <a href="https://forms.gle/pZJumBKP2iP3vPGh6">påmelding</a></li>
    <li>Kvad, 12:00 - 16:00, <a href="https://forms.gle/ababaGNZNnyFSJNp9">påmelding</a></li>
    <li>Cthulhu Dark Ages, 18:00 - 22:00, <a href="https://forms.gle/1xC8bFReFWn78ha17">påmelding</a></li>
    <li>Ars Magica, 18:00 - 22:00, <a href="https://forms.gle/rkHk4qD9cUk79H71A">påmelding</a></li>
    <li>One Ring, 18:00 - 22:00, <a href="https://forms.gle/9EehHdYJzCkb5NWq6">påmelding</a></li>
    <li>Frirollespilling, 11:00 - 22:00</li>
  </ul>
  <li>Brettspill</li>
  <ul>
    <li>Vikings, 12:00 - 16:00, 18:00 -  22:00 (finaler), <a href="https://forms.gle/nv2cpeWmZATpYLg47">påmelding</a></li>
    <li>Vikingjarl, 18:00 - 21:00, <a href="https://forms.gle/CwXSMxd4BNEx1XwG9">påmelding</a></li>
    <li>Jorvik, 12:00 - 16:00, 20:00 -  22:00 (finale), <a href="https://forms.gle/sDqBiwpjPtBSdLa4A">påmelding</a></li>
    <li>Familiespill, 11:00 - 23:00</li>
    <li>Sosiale spill, 11:00 - 23:00</li>
    <li>Frispilling, 11:00 - 23:00</li>
  </ul>
  <li>Annet</li>
  <ul>
    <li>Larp-turnering, 16:00 - 18:00, <a href="https://forms.gle/NmuVYJ2ZtzUt8QYP7">påmelding</a></li>
    <li>Butikk, 11:00 - 23:00</li>
    <li>Stands, 11:00 - 23:00</li>
    <li>Historisk om kvad, 11:00 - 12:00</li>
    <li>Paneldebatt, 21:00 - 23:00</li>
  </ul>
</ul>
<h2>Søndag, 12. september</h2>
<ul>
<li>Rollespill</li>
  <ul>
    <li>Drop inn Dungeons & Dragons, 12:00 - 16:00</li>
    <li>Dungeons & Dragons, 12:00 - 16:00, <a href="https://forms.gle/KevJ28BjrHwhvfwu9">påmelding</a></li>
    <li>Kvad, 18:00 - 22:00, <a href="https://forms.gle/5f2ie977GLmj9SBW8">påmelding</a></li>
    <li>Frirollespilling, 11:00 - 17:00</li>
  </ul>
  <li>Brettspill</li>
  <ul>
    <li>Vikingjarl, 12:00 - 15:00 (finale)</li>
    <li>Champions of Midgard, 12:00 - 16:00, <a href="https://forms.gle/bUYDZFpBACXci8zb9">påmelding</a></li>
    <li>Familiespill, 11:00 - 17:00</li>
    <li>Sosiale spill, 11:00 - 17:00</li>
    <li>Frispilling, 11:00 - 17:00</li>
  </ul>
  <li>Annet</li>
  <ul>
    <li>Omvisning på Borrehaugene, <a href="https://forms.gle/ZQBCjJcTNNfrEoxz7">påmelding</a></li>
    <li>Butikk, 11:00 - 16:00</li>
    <li>Stands, 11:00 - 16:00</li>
    <li>Premieutdeling, 16:00 - 17:00</li>
    <li>Paneldebatt, 21:00 - 23:00</li>
  </ul>
</ul>

</body>
</html>