{% extends 'midgardcon_base.html' %}

{% load static %}

{% block title %} - Program{% endblock %}

{% block content %}

<h1>Program</h1>
<h2>Lørdag, 30. mai</h2>
<ul>
    <li>Rollespill</li>
    <ul>
        {% for e in saturday_rp %}
            {% if e.name == "Pause" %}
<br>------------------------------Pause------------------------------
            {% else %}
            {% include 'event_snippet.html' with e=e %}
            {% endif %}
        {% endfor %}
    </ul>
    <li>Brettspill</li>
    <ul>
        {% for e in saturday_bg %}
            {% if e.name == "Pause" %}
<br>------------------------------Pause------------------------------
            {% else %}
            {% include 'event_snippet.html' with e=e %}
            {% endif %}
        {% endfor %}
    </ul>
    <li>Annet</li>
    <ul>
        {% for e in saturday_na %}
            {% if e.name == "Pause" %}
<br>------------------------------Pause------------------------------
            {% else %}
            {% include 'event_snippet.html' with e=e %}
            {% endif %}
        {% endfor %}
    </ul>
</ul>

{% endblock %}

