{% extends 'midgardcon_base.html' %}

{% load static %}

{% block title %} - Program{% endblock %}

{% block content %}

<h1>Program</h1>
<h2>Fredag, 30. september</h2>
<ul>
  <li>Rollespill</li>
  <ul>
	  {% for e in friday_rp %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
  <li>Brettspill</li>
  <ul>
	  {% for e in friday_bg %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
  <li>Annet</li>
  <ul>
	  {% for e in friday_na %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
</ul>
<h2>Lørdag, 1. oktober</h2>
<ul>
  <li>Rollespill</li>
  <ul>
	  {% for e in saturday_rp %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
  <li>Brettspill</li>
  <ul>
	  {% for e in saturday_bg %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
  <li>Annet</li>
  <ul>
	  {% for e in saturday_na %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
</ul>
<h2>Søndag, 2. oktober</h2>
<ul>
<li>Rollespill</li>
  <ul>
	  {% for e in sunday_rp %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
  <li>Brettspill</li>
  <ul>
	  {% for e in sunday_bg %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
  <li>Annet</li>
  <ul>
	  {% for e in sunday_na %}
        {% include 'event_snippet.html' with e=e %}
	  {% endfor %}
  </ul>
</ul>

{% endblock %}