{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>MidgardCon 2021</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-red-500 font-serif leading-normal tracking-normal">
	<div class="h-screen grid place-items-center mx-4 justify-center">
		<div class="rounded-xl bg-gray-100 mx-auto">
			<section class="flex items-center text-center text-1xl m-8">
                <div clas="grid grid-cols-1">
                    <h1 class="text-3xl md:text-5xl text-center pb-8">MidgardCon 2021</h1>
					<p><b>Når:</b> 10.-12. september</p>
					<p class="pb-8"><b>Hvor:</b> Gildehallen, Borre</p>
                    <p>Mer info kommer...</p>
                </div>
			</section>
		</div>
		</div>
	</body>
</html>