{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>MidgardCon 2021</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-red-500 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen text-center text-2xl">
                <div clas="grid grid-cols-1">
                    <h1 class="text-5xl text-center">MidgardCon 2021</h1>
                    <p>Når: 10.-12. september</p>
                    <p>Hvor: Gildehallen, Borre</p>
                    <br></br>
                    <p>Mer info kommer...</p>
                </div>
			</section>
		</div>
	</body>
</html>