{% load static bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MidgardCon 2021 - Program</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	<link href="{% static 'css/simple.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>
<body>
        {% include 'bootstrap5/messages.html' %}
<a href="/midgardcon/"><img src="{% static 'img/logo2022.png' %}" style="max-width: 80%;" class="mx-auto d-block mb-5"></a>

<h1>Program</h1>
<h2>Fredag, 30. september</h2>
<ul>
  <li>Rollespill</li>
  <ul>
	  {% for e in friday_rp %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
  <li>Brettspill</li>
  <ul>
	  {% for e in friday_bg %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
  <li>Annet</li>
  <ul>
	  {% for e in friday_na %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
</ul>
<h2>Lørdag, 1. oktober</h2>
<ul>
  <li>Rollespill</li>
  <ul>
	  {% for e in saturday_rp %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
  <li>Brettspill</li>
  <ul>
	  {% for e in saturday_bg %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
  <li>Annet</li>
  <ul>
	  {% for e in saturday_na %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
</ul>
<h2>Søndag, 2. oktober</h2>
<ul>
<li>Rollespill</li>
  <ul>
	  {% for e in sunday_rp %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
  <li>Brettspill</li>
  <ul>
	  {% for e in sunday_bg %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
  <li>Annet</li>
  <ul>
	  {% for e in sunday_na %}
        <li>{{ e.name }}, {{ e.start_time|date:"H:i" }} - {{ e.end_time|date:"H:i" }}, {{e.location}}</li>
	  {% endfor %}
  </ul>
</ul>
</body>
</html>