{% extends 'midgardcon_base.html' %}

{% load static bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %} - Registering{% endblock %}

{% block content %}


<!--Register--> 
<div class="container py-5">
	<h1>Registrering</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Registrer</button>
	</form>
	<p class="text-center">Hvis du allerede har en konto, <a href="{% url 'logginn'%}">logg inn</a> heller.</p>
	<p class="text-center">Problemer? Ta kontakt på <a href="https://discord.gg/NXGeJwmy2f">Discord</a> eller spillkveld (at) eandre.no</p>
</div>

{% endblock %}