body{
    margin:40px auto;
    max-width:900px;
    line-height:1.6;
    font-size:25px;
    color: #444;
    padding:0 10px;
    background-color: #F3F4F6;
}
h1,h2,h3{
    line-height:1.2
}
.undertekst{
    font-size:12px;
    text-align:right;
}
a:link{
    color: #EF4444;
}
a:visited{
    color: #F87171;
}
a:hover{
    color: #B91C1C;
}
a:active{
    color: #FCA5A5
}
.footer{
    color: #444;
    text-decoration: none;
    font-size:24px;
}
.footer:link{
    color: #444;
}
.footer:visited{
    color: #444;
}
.footer:hover{
    color: #B91C1C;
}