body{
    margin:40px auto;
    max-width:900px;
    line-height:1.6;
    font-size:25px;
    color: #444;
    padding:0 10px;
    background-color: #F3F4F6;
}
h1,h2,h3{
    line-height:1.2
}
.undertekst{
    font-size:12px;
    text-align:right;
}
